.callout-container {
    background: url("/IMG/Bridge\ road\ centre\ 2.jpg") no-repeat center fixed;
    height: 100vh; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron {
    background-color: transparent;
    color: lightgoldenrodyellow;
}

body {
    font-family: 'Lato', sans-serif;
    background: url("/IMG/Bridge\ road\ centre\ 2.jpg") no-repeat center fixed;
}