.callout-container {
    position: relative; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron {
    background-color: transparent;
    color: lightgoldenrodyellow;
    padding-left: 130px;
    padding-bottom: px;
}

body {
    font-family: 'Lato', sans-serif;
    background: url("/IMG/Bridge\ road\ centre\ 2.jpg") no-repeat bottom fixed;
    background-size: cover;
    width: fit-content;
    height: auto;
    padding-top: px;
}