.social-links li i a {
    height: 32px;
    width: 32px;
}

/*-------------------------------------------------Footer */

.footer-bg {
    height: 50vh;
    width: 100%;
    margin: 0;
    background-color: rgb(51, 49, 49);
    position: fixed;
}

.callout-container {
    position: relative; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: rgb(80, 80, 80);
    color: rgb(176, 176, 177);
}