/*-----------------------------------------------------------general use style*/

.uppercase {
    text-transform: uppercase;
}

.display-inline {
    display: inline-block;
}

/*-----------------------------------------------------------Colours*/

.bg-colour-name-label {
    background-color: rgb(49, 49, 49);
}

#nav-bg-colour {
    background-color: rgb(49, 49, 49);
}

body {
    background-color: whitesmoke;
}

/*-----------------------------------------------------------Nav*/

#active {
    background-color: rgb(224, 206, 102);
}

/*-----------------------------------------------------------Header*/

.hero-image {
    background: url(/IMG/ealing\ studios\ standing\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 350px;
}

.col-heading {
    text-align: left;
    position: relative;
    margin-left: 40px;
}

.label {
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(224, 206, 102);
}

.name {
    margin-bottom: 25px;
    color: rgb(224, 206, 102);
}

.no-padding {
    padding: 0;
    margin: 0;
}

.feel-the-vibe {
    background: url(/IMG/Always\ feel\ the\ vibe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    position: top;
}

.header-sub {
    height: 160px;
    background-color: rgb(48, 71, 18);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 20px;
}

/*-----------------------------------------------------------Footer*/

.footer-details {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
    background-color: rgb(224, 206, 102);;
    height: 100px;
    width: 100%;
    text-align: center;
    position: bottom;
}